
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="panel panel-default col-md-4" style="margin-top: 30px;  height: 223px">
        <div class="panel-body">
            <form style="margin-left: -20px">
                <div class="form-group">
                    <p style="font-size: 20px">Security Question</p>
                    <div style="display:inline">
                        <p style="color: #00B7FF">Put function to show security questions</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="answersToSecurityQuestion">Answer</label>
                    <input type="text" class="form-control" id="answersToSecurityQuestion" placeholder="Answer">
                </div>

                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</div>


