
@{
    ViewBag.Title = "Index";
}

<div class="container">
    
    <h2></h2>
    <div class="panel panel-default">
        <div class="panel-body">
            <h2>Choose from the options below to edit:</h2>
            @*Create new Region:*@
            <h3>
                <a href="../Regions"> Regions </a>
            </h3>
            @*Create new Relay:*@
            <h3>
                <a href="../Relays"> Relays </a>
            </h3>
            @*Create new Store:*@
            <h3>
                <a href="../Stores"> Stores </a>
            </h3>
            @*Create new Connection:*@
            <h3>
                <a href="../Connections"> Connections </a>
            </h3>
            @*Change a queue limit:*@
            <h3>
                <a href="../Queues"> Queues </a>
            </h3>

        </div>
    </div>
</div>

